<div class="container">
  <div class="center">
    p l a c e h o l d e r --- i n d e x <br>
    <% if !logged_in? %>
    <a href="/login">login</a><br>
    <a href="/register">register</a><br>
    <% else %>
    <a href="/logout">logout</a>
    <% end %>
  </div>
</div>
