
<body class="bgr">
  <a class="logout" href="/logout">logout</a>
  <div class="sidebar">
    <h2></h2> <i id="bars" class="fa fa-bars" aria-hidden="true"></i>
    <div class="search-bar">
      <input type="text" name="name" class="search" placeholder="">
      <i id="search" class="fa fa-filter"></i>
    </div>
  </div>
  <div class="index-container">
    
  </div>
  <!-- <footer></footer> -->
</body>
