<div class="container">
  <div id="register" class="center">
    <div class="login">
      <form class="login-form animated fadeInRight" action="/users/new" method="post">
        <div class="email">
          <input type="text" name="user[email]" placeholder="email" required>
        </div>
        <div class="password">
          <input type="password" name="password" placeholder="password" required>
        </div>
        <div class="register-button">
          <button type="submit">register</button>
        </div>
        <h4>already have an account? <span class="login-text"><a href="/login">login</a></span></h4>
      </form>
    </div>
  </div>
</div>
